* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}
@import "./maps";
@import "./header";

@font-face {
  font-family: 'Marck Script', cursiv;
  src: url("./build/fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("../fonts/MarckScript-Regular.ttf");
}

body  {
  font-family: 'Roboto', sans-serif;
  background-color: #026873;

}
a {
  text-decoration: none;
  color: #446973;
}
ul {
  list-style: none;
}
main {
  //width: 100%;
background: url("../img/kiwis.png");

}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
